/.idea
/bitrix
/vendor
/logs
/composer.lock
/upload/
!/upload/attached/*
/public/upload
/node_modules
/package-lock.json
/local/composer.lock
/local/vendor/
/local/php_interface/include/constants.php
/local/modules/sprint.migration/
/local/exchange/
/exchange/
*.txt
*.xml
/local/.phpunit.result.cache